body {
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    background-color: var(--backdrop);
}

:root{
    --backdrop: #e5e1ee;
    --primary: #dffdff;
    --accent: #1b998b;
    --rowcount: 2;
}

#container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 3fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    height: 100vh;
    
}

#header {
    background-color: var(--primary);
    grid-column: 2 / 4;
    grid-row: 1 /2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px; 
}

#headertop{
    display: flex;
    gap: 50px;
    font-weight: 600;
}

#headerbottom{
    display: flex;
    gap: 20px;
    align-items: center;
}

#headerbottom>div{
    font-size: 1.5rem;
    margin-left: 40px;
}

#headerbottom>#icon{
    height: 60px;
    border-radius: 100%;
    filter:contrast(1.5);
    border-style: solid;
    border-color: var(--accent);

}

#searchbox{
    display: flex;
    height: 20px;
    gap: 10px;
    align-items: center;
}

#searchbar{
    padding: 5px 15px 5px 15px;
    width:150px;
    background-color: var(--backdrop);
    height: 20px;
    border-radius: 10px;
    border-style: none;
    outline: none;
    box-shadow: inset 5px 5px 10px rgb(172, 172, 172);
}

#searchbox>img {
    height: 16px;
}


#sidebar {
    background-color: var(--accent);
    grid-row: 1 / 4;
    font-weight: bold;
    width: 20vw;
    min-width: 220px;
    max-width: 300px;
    box-sizing: border-box;
    padding-left: 10%;
    color: white;
    
}

li>img, #sidebar>p>img{
    filter: invert(100%) sepia(0%) saturate(172%) hue-rotate(281deg) brightness(113%) contrast(100%);
}


#sidebar>p{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    font-size: 2rem;
}

#options{
    display: flex;
    flex-direction: column;
}

#feedbox {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 15fr;
    margin: 0px 20px 15px 20px;
    position: relative;
}

h2{
    font-size: 1.5rem;
    margin: 20px 0 20px 0px;
}

#feed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(var(--rowcount), calc(50% - 10px));
    gap: 20px;
    overflow-y: scroll;
    align-content: start;
    border-radius: 10px;
    padding-bottom: 5px;
}

#feedshadow {
    top: 68px;
    position: absolute;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 20px;
    box-shadow: inset 0px 8px 10px -6px grey;
    background-color: rgba(0,0,0,0);
}

#feedshadow2 {
    top: calc(100% - 20px);
    position: absolute;
    background-color: rgba(0,0,0,0);
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 20px;
    box-shadow: inset 0px -8px 10px -6px grey;
}

#topshadow {
    top: 68px;
    position: absolute;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 20px;
    box-shadow: inset 0px 8px 10px -6px grey;
    background-color: rgba(0,0,0,0);
}

#topshadow2 {
    top: calc(100% - 20px);
    position: absolute;
    background-color: rgba(0,0,0,0);
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 20px;
    box-shadow: inset 0px -8px 10px -6px grey;
}

.hideshadow {
    animation-name: hideshadow;
    animation-duration: 0.5s;
    filter: opacity(0);
}

.showshadow{
    animation-name: hideshadow;
    animation-direction: reverse;
    animation-duration: 0.5s;
    filter: opacity(1);
}

@keyframes hideshadow {
    from {filter: opacity(1);}
    to {filter: opacity(0)}
}

#feed::-webkit-scrollbar, #sidescroll::-webkit-scrollbar {
    display: none;
}

.feedpanel {
    background-color:var(--primary);
    overflow-y: hidden;
    border-radius: 10px;
    padding: 0px 10px 20px 10px;
}

.feedpanel, #header, .sidepanel{
    box-shadow: 0px 3px 5px grey;
}

.sidebox{
    position: relative;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 20px 0px 0px;
    /*background-color: rgba(124, 124, 124, 0.5);*/
}

#recent {
    padding-bottom: 20px;
}

#sidescroll{
    overflow-y: scroll;
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    gap:20px;
}

#sidescroll>.sidepanel {
    border-top: 4px solid var(--accent);
    position: relative;
}

#sidescroll>.sidepanel>h3{
    position: absolute;
    top:0px;
    right: 10px;
}

#sidescroll>.sidepanel>p {
    position: absolute;
    top: 1.4rem;
    right: 10px;
    text-align: right;
    line-height: 1rem;
}

.sidebox#recent>.sidepanel {
    margin-bottom: 0;
    height:100%;
}

.sidepanel {
    background-color:var(--primary);
    /*flex-grow: 1;*/
    border-radius: 10px;
    padding-bottom: -50px;
    height: 80px;
    
}

.sidepanel>img {
    height:100px;
    padding:0;
    filter: drop-shadow(0px -3px 3px grey);
    margin-left: 0;
}

li{
    display:flex;
    list-style: none;
    justify-content: start;
    align-items: center;
    font-size: 100%;
    margin-bottom: 5px;
}

li>img{
    margin-right: 10px;
    height: 1.5rem;
}

ul{
    padding:0;
}