body {
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    background-color: var(--backdrop);

}

:root{
    transition: all 0.5s;
    --backdrop: #e5e1ee;
    --primary: #dffdff;
    --accent: #1b998b;
    --rowcount: 2;
    --panel-shadow: inset 0px 8px 10px -6px grey;
    --panel-shadow2: inset 0px -8px 10px -6px grey;
    --searchbar-shadow: inset 5px 5px 10px rgb(172, 172, 172);
    --def-box-shadow: 0px 3px 5px grey;
    --def-drop-shadow: drop-shadow(0px -3px 3px grey);
    --button-color: none;
    --greentext: rgb(45, 90, 0);
}

h2{
    font-size: 1.5rem;
    margin: 20px 0 20px 0px;
}


#container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 3fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    height: 100vh;
    position:relative;
    
}

#header {
    background-color: var(--primary);
    grid-column: 2 / 4;
    grid-row: 1 /2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px; 
}

#headertop{
    display: flex;
    gap: 50px;
    font-weight: 600;
}

#headerbottom{
    display: flex;
    gap: 20px;
    align-items: center;
}

#headerbottom>div{
    font-size: 1.5rem;
    margin-left: 40px;
}

#headerbottom>#icon{
    height: 60px;
    border-radius: 100%;
    filter:contrast(1.5);
    border-style: solid;
    border-color: var(--accent);
    transition: all 0.5s;
}

#headerbottom>#icon:hover{
    box-shadow: var(--def-box-shadow)
}

#headerbottom>button{
    position:relative;
    margin-left: 20px;
}

#headerbottom>button>img{
    top: -15px;
    left: 0px;
    position: absolute;
    transition: all 0.5s;
    height: 30px
}

#headerbottom>button>img:hover{
    height: 40px;
    top: -20px;
    left: -5px;
}

#searchbox{
    display: flex;
    height: 20px;
    gap: 10px;
    align-items: center;
    
}

#searchbar{
    padding: 5px 15px 5px 15px;
    width:150px;
    background-color: var(--backdrop);
    height: 20px;
    border-radius: 10px;
    border-style: none;
    outline: none;
    box-shadow: var(--searchbar-shadow);
    transition: all 0.5s;
}

#searchbox img{
    transition: all 0.5s;
}

#searchbox:hover #searchbar,
#searchbox input:focus{
    background-color: var(--accent);
    box-shadow: inset 5px 5px 10px #2d6d65;
    color:white;
    
}

#searchbox:hover input::placeholder {
    color: white;
}

#searchbox:hover img {
    transform: rotate(-360deg);
}

#searchbox>img {
    height: 16px;
}


#sidebar {
    background-color: var(--accent);
    grid-row: 1 / 4;
    font-weight: bold;
    width: 20vw;
    min-width: 220px;
    max-width: 300px;
    box-sizing: border-box;
    padding-left: 10%;
    color: white;
    transition: all 0.5s;
}

#sidebar p{
    margin: 0px;
}

#sidebar a:hover #mainlink {
    gap: 20px;
} 

#sidebar a:hover #mainlink img {
    transform: rotate(180deg);
} 

#sidebar #mainlink {
    transition: all 0.5s;
    margin-bottom: 20px;
} 

#sidebar a {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s;
    color: white;
}

#sidebar a:hover {
    gap: 20px;
}

#sidebar li:nth-child(even)>a {
    color: rgb(212, 212, 212);
}

li>img, #sidebar img{
    filter: invert(100%) sepia(0%) saturate(172%) hue-rotate(281deg) brightness(113%) contrast(100%);
    transition: all 0.5s;
}

#sidebar>#options a:hover img{ 
    transform: rotate(27deg);
}


#sidebar #mainlink{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    font-size: 2rem;
}

#options{
    display: flex;
    flex-direction: column;
}

#feedbox {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 15fr;
    margin: 0px 20px 15px 20px;
    position: relative;
}


#feed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(var(--rowcount), max( 250px, calc(50% - 10px)));
    gap: 20px;
    overflow-y: scroll;
    align-content: start;
    border-radius: 10px;
    padding-bottom: 5px;
}



#feed::-webkit-scrollbar, #sidescroll::-webkit-scrollbar {
    display: none;
}

.feedpanel {
    background-color:var(--primary);
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
}

.feedpanel>div.inner {
    overflow-y: hidden;
    flex-grow: 1;
    margin-bottom: 10px;
    text-overflow: ellipsis;

}


.feedpanel>.seemore {
    box-sizing: border-box;
    font-size: 0.85rem;
    margin-bottom: 10px;
    border: 2px solid var(--accent);
    border-radius: 5px;
    align-self: end;
    font-weight: bold;
    padding: 2px 4px;
}


.feedpanel p {
    margin: 0;
}

.feedpanel, #header, .sidepanel{
    box-shadow: var(--def-box-shadow);
}

.sidebox{
    position: relative;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 20px 0px 0px;
    /*background-color: rgba(124, 124, 124, 0.5);*/
}

#recent {
    padding-bottom: 20px;
}

#sidescroll{
    overflow-y: scroll;
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    gap:20px;
}

#sidescroll>.sidepanel {
    border-top: 4px solid var(--accent);
    position: relative;
    
}

#sidescroll>.sidepanel>h3{
    position: absolute;
    top:0px;
    right: 10px;
}

#sidescroll>.sidepanel>p {
    position: absolute;
    top: 1.4rem;
    right: 10px;
    text-align: right;
    line-height: 1rem;
}

.sidebox#recent>.sidepanel {
    margin-bottom: 0;
    height:100%;
}

.sidepanel {
    background-color:var(--primary);
    /*flex-grow: 1;*/
    border-radius: 10px;
    padding-bottom: -50px;
    height: 80px;
    transition: all 0.5s;
    
}

.sidepanel>img {
    height:100px;
    padding:0;
    filter: var(--def-drop-shadow);
    margin-left: 0;
}

.sidebox>.sidepanel {
    padding: 0px 10px 0px 10px;
    overflow: hidden;
}

.username {
    color: var(--accent);
    font-weight: bold;
}

li{
    display:flex;
    list-style: none;
    justify-content: start;
    align-items: center;
    font-size: 100%;
    margin-bottom: 5px;
}

li>img{
    margin-right: 10px;
    height: 1.5rem;
}

ul{
    padding:0;
}

button {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

button>img {
    filter: var(--button-color);
}
#feedshadow {
    top: 68px;
    position: absolute;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 20px;
    box-shadow: var(--panel-shadow);
    background-color: rgba(0,0,0,0);
}

#feedshadow2 {
    top: calc(100% - 20px);
    position: absolute;
    background-color: rgba(0,0,0,0);
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 20px;
    box-shadow: var(--panel-shadow2);
}

#topshadow {
    top: 68px;
    position: absolute;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 20px;
    box-shadow: var(--panel-shadow);
    background-color: rgba(0,0,0,0);
}

#topshadow2 {
    top: calc(100% - 20px);
    position: absolute;
    background-color: rgba(0,0,0,0);
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 20px;
    box-shadow: var(--panel-shadow2)
}

.hideshadow {
    animation-name: hideshadow;
    animation-duration: 0.5s;
    filter: opacity(0);
}

.showshadow{
    animation-name: hideshadow;
    animation-direction: reverse;
    animation-duration: 0.5s;
    filter: opacity(1);
}

@keyframes hideshadow {
    from {filter: opacity(1);}
    to {filter: opacity(0)}
}

.greentext{
    color: var(--greentext);
}

#kurippibox {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 17vw;
    min-width: 175px;
    max-width: 250px;
    

}

#kurippibox>img{
    position:absolute;
    width: 100%;
    bottom: 0px;
    height: auto;
}

#kurippibox #kurippibase{
    filter: drop-shadow(0px 5px 2px black);
}

#kurippibox #mouthopen {

}

.clicked{   
    animation-name: closemouth;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
}


@keyframes closemouth{
    0% {height: 100%; bottom: 0%}
    50% {height: 30%; bottom: 30%}
    100% {height: 100%; bottom: 0%}
}

#message {
    width: 93%;
    bottom: 106%;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    background-color: var(--backdrop);
    box-shadow: 0px 5px 5px black;
}



